out
src/build
.idea
APL.jar
APL.iml
app/APL/src/
app/build/
app/APLApp/android/
APLP5/code/APL8.jar
app/APLApp/code/APL8\.jar

AndroidIDE/code/APL8\.jar

AndroidIDE/data/temp/

AndroidIDE/android/
app/err

*.apk
